<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="0.8.0" targetFramework="xamarinios10" />
  <package id="Avalonia.iOS" version="0.8.0" targetFramework="xamarinios10" />
  <package id="Avalonia.Remote.Protocol" version="0.8.0" targetFramework="xamarinios10" />
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="xamarinios10" />
  <package id="Serilog" version="2.5.0" targetFramework="xamarinios10" />
  <package id="Serilog.Sinks.Debug" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinios10" />
</packages>